<div class="well text-center">
	When you pay with bitcoin, the system will generate a unique wallet address
	and link it with your order. Detailed instructions will be shown on the next
	page. <%= link_to "Check the FAQ", static_url(path: 'frequently-asked-questions') %>
	or visit <%= link_to "bitcoin.org", "https://bitcoin.org/en", target: "_blank" %>
	if you have any questions about buying or using bitcoin.
</div>
